[2014-10-17 18:27] robb-price opened #274 "Products that are set to be visible to your Company are not showing up in the In App Store before you are logged into your Store account"
<b>How it works now:</b>
1. Log into the In App Store with Common Header Testing URL, and open the In App Store. Notice that there is no cart icon, and this is because you are not signed into the store, and you cannot see all the items that are set to be visible to your Company.
2. Log into the RVA at rva.risevision.com, and open the In App Store. Notice that there is no cart icon, and this is bec

[2014-11-26 17:25] alanclayton opened #360 "Incorrect menu item is being highlighted when pages are opened in a new tab."
We don't properly communicate the page the User is on when selecting a menu item from the common header that opens a new tab.

Overview here, http://www.screencast.com/t/lxK71vbUsZnS

[2014-11-26 17:56] btfrise opened #361 "Company settings standard buttons, style guide issue."
Stand alone storage UI app, company settings -

http://www.screencast.com/t/n8BhFEl9DKs6

Having delete in the middle of Save and Cancel creates a strange layout. Save and Cancel should be next to each other, with delete to the far right or in a different position altogether.

[2014-12-02 16:13] tejohnso opened #377 "Login delays"
I noticed that sometimes logging in takes a very long time.
Somewhere between loadfFastpass result and the getCompany response.
It seems like the XHR GET on https://rvaserver2.appspot.com/_ah/api/core/v1/company takes a long time to finish.
Has anyone else seen this?

[2014-12-02 16:24] robb-price opened #378 "Opening a link from email results in the Spinner forever"
<b>How it works now:</b>
When you are not logged into the Store, open Gmail and click on the link to a Store item like an invoice, order or Subscription from an email. Notice that you get the Spinner forever, with this error message in the console:
![2014-12-02_1121](https://cloud.githubusercontent.com/assets/6862256/5266126/bcea419c-7a15-11e4-9963-c98bca641995.png)

<b>How it should work:</b>
You

[2014-12-03 18:29] robb-price opened #389 "When searching for a Company with a partial query, Company names that match the query should show at the top"
<b>How it works now:</b>
From the Rise Vision Company, do a search for RVA Notice that it returns a LOT of stuff, and RVA Testing is not among the first Companies in the list.

For further clarification: http://www.screencast.com/t/qFmTWL5K6Wjs

<b>How it should work:</b>
Any companies that contain the exact partial query searched for should be at the top of the list.

[2014-12-10 00:46] settinghead opened #415 "Gulp task that runs E2E tests on uglified version of CH"
Given a recent issue https://github.com/Rise-Vision/common-header/issues/412, a need to run tests on the code that goes to production becomes apparent.

[2014-12-10 17:20] settinghead opened #417 "When cid is present in the URL parameter, userState returns user's company briefly before returning cid"
What should happen:

 When cid is present, ```selectedCompanyId()``` should only return ```cid```.

Reported by @alex-deaconu

[2014-12-10 17:25] settinghead opened #418 "A more robust solution to persist cid in route"
Perhaps via ```onRouteChange```. Needs investigation.

Related to https://github.com/Rise-Vision/store/issues/892

[2014-12-11 18:55] settinghead opened #426 "Fix to v1.0.0 in all apps using CH"

[2014-12-12 18:28] settinghead opened #431 "Do not show spinner after user refocuses on page"
<b>How it works now:</b>
Log in as a Rise Vision user in Tab A. Open a new tab, and return Tab A. You will observe a few second's spinner that results from authentication checking.

<b>How it should work:</b>
No authentication spinner after a user refocuses to page.

[2014-12-12 18:39] robb-price opened #432 "In the Pop Up, Authentication Key needs to be Title Case"
<b>How it works now:</b>
Reset the Authentication Key, notice that the popup shows "authentication key" instead of "Authentication Key":
![2014-12-12_1318](https://cloud.githubusercontent.com/assets/6862256/5417135/51f6f8c0-8204-11e4-8837-eb68b24a215f.png)

[2014-12-19 21:00] robb-price opened #434 "When you mark a user as inactive and create a new user with the same name in the same Company, when you click on the user, it brings up the old inactive user instead of the new active one"
<b>How it works now:</b>
1. Mark a user as inactive in your Company.
2. Create a new user with the same username and email.
3. Click on the newly created user in the Company Users list, notice that it brings up the old INACTIVE user, instead of the new one.

For further clarification: https://dl.dropboxusercontent.com/u/8237394/Screencasts/2014-12-19_1543.swf

[2015-01-02 19:17] robb-price commented on #417
@ByronDarlison @brianloosbrock @stevesherrie @olegrise @tejohnso @alex-deaconu Closing this issue as we are tracking the upgrade of CH on <a href="https://trello.com/c/1RI7RlHd/234-upgrade-store-to-common-header-v1-0-3">this Trello card</a> for Store, and <a href="https://trello.com/c/2iEEqCl5/261-ui-related-fixes">this Trello card</a> for Storage.

[2015-01-02 19:17] #417 closed

[2015-01-13 14:18] robb-price commented on #378
Reopened this, and attached the error I am getting in the console now:
![2015-01-13_0916](https://cloud.githubusercontent.com/assets/6862256/5721906/202dd29a-9b05-11e4-9f69-a8dcdf57a7fb.png)

[2015-01-13 16:38] alex-deaconu commented on #378
@robb-price the store-server is returning a 403 error. The Store is expecting a 401 error, as per the fixes to store-server above.

Either way, this is not a Common Header issue.

To fix, either:
- return 401 from the store-server
- force user login on 403 error here: https://github.com/Rise-Vision/store/blob/master/web/script/app.js#L130
- verify and force user login before retrieving order here:

[2015-01-13 16:41] stevesherrie commented on #378
@robb-price @alex-deaconu This should be taken care of in store-server. If you want to create a bug for me, I'll get to it @robb-price.

[2015-01-13 16:53] brianloosbrock commented on #378
@robb-price @alex-deaconu @stevesherrie Robb lets create a bug in Store, add it Trello, and lets close this one. This should come after 932. Thanks

[2015-01-13 16:59] robb-price commented on #378
@brianloosbrock @stevesherrie @alex-deaconu Created a bug in Store Server, a Trello Card, and I'm closing this bug.

[2015-01-13 16:59] #378 closed

[2015-01-15 14:13] alex-deaconu opened #437 "When switching companies, the isTest flag is not available"
When switching companies, the company object retrieved via the list API is set as the selectedCompany object. This object does not contain all the company API fields, and since isTest is not one of them, the Test company banner does not show. To fix this, there are 2 possible solutions:
1. Add the fields to the list API
2. Retrieve the company object via CURD so all fields are present.

@alexey-ri

[2015-01-15 17:41] alexey-rise commented on #437
@alex-deaconu I will add isTest to the company.list endpoint later today and let you know when it's done.

[2015-01-15 18:55] robb-price commented on #437
Verified that this is corrected at https://store.risevision.com/~rvi/store-pr/pr-936/#/

[2015-01-15 21:29] #377 closed

[2015-01-16 21:35] brianloosbrock commented on #418
@robb-price Can you confirm this is fixed as part of deployment https://trello.com/c/6Y1cDpon/117-store-update-ch-version-to-include-country-code-fixes. Thanks.

[2015-01-20 20:42] robb-price opened #441 "When trying to edit Company Settings, I get the error "Field 'IsTest" is not editable"."
<b>How it works now:</b>
Try to edit your Company address. Notice that you get the error message "Field 'IsTest' is not editable".
![2015-01-20_1540](https://cloud.githubusercontent.com/assets/6862256/5825631/e6cc1686-a0ba-11e4-9e15-4316093076fc.png)

<b>How it should work:</b>
You should be able to edit any field you want, as only Rise Vision Users can edit the isTest field.

[2015-01-20 22:16] robb-price opened #442 "Visibility settings from the Spreadsheet are being ignored"
<b>How it works now:</b>
Using a Company that has items set to be viewable to only that Company, log into the store. Notice that the items that are set to be visible to your Company are not visible.

Originally logged as <a href="https://github.com/Rise-Vision/store/issues/940">Issue 940</a> in the Store repo, but after discussing with @stevesherrie, since this was corrected after we rolled back,

[2015-01-22 18:14] olegrise opened #446 "Shopping Cart items are not persisted when item quantity change"
<b>How it works now:</b>
Add COD or COC item to the shopping cart, then go to Shopping Cart page and change the Qty. Notice that if you refresh page the quantity changes back to its original value.

<b>How it should work:</b>
Refreshing the page should not change item's quantity.

[2015-01-23 19:02] robb-price opened #448 "When you edit the address of a Test Company, the Test Company banner disappears after your change is saved."
<b>How it works now:</b>
In a Company that is marked as a Test Company, edit the address. Notice that after you save your change, the banner disappears. To get it to return, you need to refresh the page.

For further clarification: https://dl.dropboxusercontent.com/u/8237394/Screencasts/2015-01-23_1359.swf

<b>How it should work:</b>
The Banner should remain and not require you to refresh the page

[2015-01-23 21:39] robb-price commented on #448
Verified at https://store.risevision.com/~rvi/store-pr/pr-945/

[2015-01-26 20:45] robb-price commented on #446
Verified and Closed.

[2015-01-26 20:45] #446 closed

[2015-01-26 20:49] robb-price commented on #442
Verified and Closed.

[2015-01-26 20:49] #442 closed

[2015-01-26 20:49] robb-price commented on #418
Verified and Closed.

[2015-01-26 20:49] #418 closed

[2015-01-26 23:10] robb-price commented on #448
Verified and Closed.

[2015-01-26 23:10] #448 closed

[2015-01-26 23:11] robb-price commented on #437
Verified and CLosed.

[2015-01-26 23:11] #437 closed

[2015-01-26 23:11] robb-price commented on #441
Verified and Closed.

[2015-01-26 23:11] #441 closed

[2015-02-02 15:44] alex-deaconu opened #449 "System Messages API call should not delay CH load"
Discussed in https://github.com/Rise-Vision/core/issues/120.

As per @alanclayton: `There is a call for system messages that takes about 3 seconds and the UI is not presented until that is complete. I just get the overlay with spinner. [...] why do we wait for that to complete before showing the UI. Could that be done after the UI is loaded so the User isn't waiting?`

[2015-02-03 17:37] alex-deaconu opened #450 "Slow API response could cause two user/company API calls"
As discussed in https://github.com/Rise-Vision/core/issues/120#issuecomment-72305928

http://www.screencast.com/t/2106fBNFwA

[2015-02-05 16:12] alex-deaconu commented on #431
@ByronDarlison apparently there's already an issue logged for this. Will pursue. Thanks.

[2015-02-05 16:13] alex-deaconu opened #451 "Confirm authentication when user regains focus on the page"
Currently, authentication is confirmed only when the browser tab is switched. Improve this behaviour by verifying authentication when user regains focus on the page as well.

[2015-02-25 15:43] robb-price opened #466 "Clicking Cancel when the Store asks for Rise Vision app permissions does not go back to the Store main page"
<b>How it works now:</b>
When the Store asks for Permission to the Rise Vision app for your account and you press Cancel, it sits on a blank page instead of going back to the Store main page.

For further clarification: https://dl.dropboxusercontent.com/u/8237394/Screencasts/2015-02-25_1039.swf

[2015-02-25 15:54] robb-price opened #467 "Clicking Accept on the Rise Vision app permission request results in a blank page instead of signing you in."
<b>How it works now:</b>
Log in with an account that has never accessed the platform before, ACCEPT the Rise Vision App permission, and notice that it just sits on a blank page with a long URL.

For further clarification: https://dl.dropboxusercontent.com/u/8237394/Screencasts/2015-02-25_1051.swf

<b>How it should work:</b>
It should log you into the store, and then show the Terms of Service modal

[2015-02-25 21:06] robb-price commented on #466
This does not occur at http://displays.risevision.com/~rvi/displays-pr/chore-ch-version/#/. @alex-deaconu informed me that this won't work at https://store.risevision.com/~rvi/store-pr/pr-970/.

Since this works at http://displays.risevision.com/~rvi/displays-pr/chore-ch-version/#/, closing this issue.

[2015-02-25 21:06] #466 closed

[2015-02-25 21:14] robb-price commented on #467
This does not occur at http://displays.risevision.com/~rvi/displays-pr/chore-ch-version/#/. @alex-deaconu informed me that this won't work at https://store.risevision.com/~rvi/store-pr/pr-970/.

Since this works at http://displays.risevision.com/~rvi/displays-pr/chore-ch-version/#/, closing this issue.

[2015-02-25 21:14] #467 closed

[2015-02-26 14:19] robb-price opened #468 "CH shows the email address, not the Username"
<b>How it works now:</b>
Log in with a user that has a different email address from their Username. Notice the email address shows in the CH instead of the Username:
![2015-02-26_0913](https://cloud.githubusercontent.com/assets/6862256/6393491/82bc525a-bd98-11e4-8ab3-f0e0eea06556.png)

<b>How it should work:</b>
It should show the Username instead of the email address.

[2015-02-26 14:37] robb-price opened #469 "Roles you don't have still show up in the Common Header App Navigation"
<b>How it works now:</b>
Log in as a user who does NOT have the roles of Display Administrator, Content Editor or Content Publisher. Notice that in the CH App Navigation menu, they still see the options for Displays and Editor. They can click on those options, and go to the appropriate pages, and make changes to Presentations and Displays (even though they don't save). However this is still really

[2015-02-26 15:11] robb-price opened #470 "Time Zone is saving, but not showing in CH"
<b>How it works now:</b>
Change the Time Zone in your Company Settings, notice that regardless of what you select, the dropdown stays as "Select Time Zone". Save and reopen the Company Settings, notice that it still says "Select Time Zone".

Go into the RVA, and the selection you saved is what is set for your Company.

For further clarification: https://dl.dropboxusercontent.com/u/8237394/Screenca

[2015-02-26 15:19] robb-price opened #471 "Cancel button on Move Company dialog does not match Style Guide"
<b>How it works now:</b>
On the Move Company, the Cancel button does not match the Style Guide:
![2015-02-26_1017](https://cloud.githubusercontent.com/assets/6862256/6394665/fb34f5b8-bda0-11e4-844a-b7c43fc5bd4e.png)

[2015-02-26 15:28] alex-deaconu commented on #470
@robb-price I can't replicate this issue in the Displays App. Timezone is showing and editing correctly.

@stevesherrie does Store define its own TIMEZONES constant anywhere?

Thanks.

[2015-02-26 15:38] brianloosbrock commented on #389
@robb-price Is this still an issue?

[2015-02-26 15:50] brianloosbrock commented on #470
@stevesherrie @alex-deaconu We can park this for now and come back to it. Thanks

[2015-02-26 16:13] brianloosbrock commented on #431
No longer an issue. Closing.

[2015-02-26 16:13] #431 closed

[2015-02-26 16:14] brianloosbrock commented on #426
Closing.

[2015-02-26 16:14] #426 closed

[2015-02-26 16:17] brianloosbrock commented on #361
No longer an issue. Closing.

[2015-02-26 16:17] #361 closed

[2015-02-26 17:44] robb-price opened #474 "The entire CH header shows at the top of the In App Store"
<b>How it works now:</b>
Open the In App Store in the RVA, and notice that the entire CH header shows:
![2015-02-26_1241](https://cloud.githubusercontent.com/assets/6862256/6397758/17fc5b6e-bdb5-11e4-9c11-00786fd6eb98.png)

<b>How it should work:</b>
Only the Store, the Cart and the Close button should show.

[2015-02-26 17:46] stevesherrie commented on #474
@robb-price @alex-deaconu Actually, this might have been a screwup with the rva I deployed. Give me one minute.

[2015-02-26 18:14] stevesherrie commented on #474
@robb-price Fixed. Was just an issue with the RVA version I deployed for testing.

[2015-02-26 18:56] #474 closed

[2015-02-27 14:01] robb-price commented on #389
@brianloosbrock This is indeed still an issue.

[2015-03-06 16:28] brianloosbrock opened #475 "Remove 'Platform' from Store navigation."
Now that we have the app navigation its redundant to have the Platform link in the main nav so lets remove it.

![image](https://cloud.githubusercontent.com/assets/6887543/6529003/74dd90dc-c3eb-11e4-8068-d1f943f576fb.png)

[2015-03-10 14:03] alex-deaconu commented on #470
@robb-price @brianloosbrock this issue should be fixed with the new CH version in the Store. Thanks!

[2015-03-10 14:12] robb-price commented on #470
@alex-deaconu @brianloosbrock Looks like it is corrected.

Verified and Closed.

[2015-03-10 14:12] #470 closed

[2015-03-13 13:38] alex-deaconu opened #481 "Strip # from URL if there is no hash in state"
When the re-direct from the authentication site returns, if there is no hash in state instead of setting the hash to blank, strip the hash altogether.

[2015-03-13 20:46] robb-price opened #482 "Clicking Cancel when asked to accept permissions for the Rise Vision App does not go back to the login page"
<b>How it works now:</b>
1. Click Sign in with your Google Account, log in with an account that has not accepted the Rise Vision app permission.
2. When given the option to Accept or Cancel, press Cancel. Notice that you come to a screen showing a directory instead of going back to the main Store page where you can log in again.

For further clarification: https://dl.dropboxusercontent.com/u/82373

[2015-03-13 20:52] robb-price opened #483 "Clicking Accept on the Rise Vision Permission does not bring up the T&C Modal and log you in"
<b>How it works now:</b>
Click on Sign in, sign in with an account that has not accepted the App permission. Click Accept, and notice that you get an index page, not the main Store page asking you to accept the T&C.

For further clarification: https://dl.dropboxusercontent.com/u/8237394/Screencasts/2015-03-13_1650.swf

[2015-03-13 21:08] robb-price commented on #483
After speaking with @rodrigopavezi I will test logging into production, then testing this in the staged environment. This is a caveat that we have dealt with before, it just showed up differently so I thought it was a different issue. Closing this issue.

[2015-03-13 21:08] #483 closed

[2015-03-13 21:08] robb-price commented on #482
After speaking with @rodrigopavezi I will test logging into production, then testing this in the staged environment. This is a caveat that we have dealt with before, it just showed up differently so I thought it was a different issue. Closing this issue.

[2015-03-13 21:08] #482 closed

[2015-03-17 19:22] robb-price opened #484 "Clicking Add To Cart while not signed in results in a "redirect_uri_mismatch" error"
<b>How it works now:</b>
Go to any COD product at https://store-stage.risevision.com/chore-circle-ci-deploy-to-gce/dist/, and click Add To Cart. Notice after signing in, you get the redirect_uri_mismatch instead of the product being added to your cart.

For further clarification: https://dl.dropboxusercontent.com/u/8237394/Screencasts/2015-03-17_1415.swf

[2015-03-18 14:12] robb-price commented on #484
Verified and closed at https://store-stage-0.risevision.com/

[2015-03-18 14:12] #484 closed

[2015-03-19 20:12] alanclayton opened #486 "Search results do not reflect search criteria"
1. Navigate to http://1-08-001.rvauser2.appspot.com/
2. Select the "Select Sub Company" from CH
3. In the search criteria enter `rise display`

Example, http://screencast.com/t/LvjhPJHEcR

Hundreds of companies are returned and neither of them contain the word `rise` or `display`

What should happen.
The results should only be those companies that contain the text provided in the search criteria

[2015-03-20 15:20] mfisher11 opened #487 "When in a sub-company, clicking an app in the App Launcher places you in the account where you are a registered user"
Steps to reproduce:
1. Go into a sub-company
2. Open the App Launcher
3. Click on an App (confirmed with editor, store, storage, displays, and schedules)

Result:
Content (appropriate for the App) is listed for the account where you are a registered user

How it should work:
Content (appropriate for the App) is listed for the current sub-company.

Link to Presentation:
N/A

OS:
Xubuntu 14.04 and O

[2015-03-20 17:04] alex-deaconu commented on #486
@alanclayton @mfisher11 I'm wondering if we could drop this one for the RVA CH release as well. Most companies don't have a lot of sub-companies so it's mostly a Rise Vision/Rise Display issue. Definitely need to fix, but I don't think the release should rely on it. Let me know what you think. Thanks.

[2015-03-20 17:10] alanclayton commented on #486
@alex-deaconu I agree with you, but it is a huge pain for Support when trying to navigate to Companies for support reasons. Ray alone probably does this 50-100 times per day.

[2015-03-20 17:16] alex-deaconu commented on #486
@alanclayton okay, got it. However, my worry is that this may be a Core issue. @alexey-rise any ideas on what could be happening here? Is the Core search too broad, or is the CH sending the query incorrectly?

A sample URL for this call is:
`https://rvaserver2.appspot.com/_ah/api/core/v1/companies?companyId=f114ad26-949d-44b4-87e9-8528afc76ce4&count=20&search=rise%20display`

Thanks!

[2015-03-20 17:25] olegrise commented on #486
@alex-deaconu I just tried `rise display` in the Store - all works as expected.

[2015-03-20 17:28] alex-deaconu commented on #486
@olegrise hmm are you sure? It shows 100s of results for me: http://screencast.com/t/T6njWmkMUACD.

[2015-03-20 17:32] olegrise commented on #486
@alex-deaconu  Hmm... :). When I run Store locally, it works correctly, but I might be using older version of CH.

[2015-03-20 17:34] olegrise commented on #486
@alex-deaconu I'm have CH version v1.0.15. Strange.

[2015-03-20 17:35] alex-deaconu commented on #486
@olegrise are you using rvacore-test or rvaserver2 locally?

[2015-03-20 17:37] olegrise commented on #486
@alex-deaconu I was just going to say that I'm using rvacore-test. That's it.

[2015-03-20 17:39] alexey-rise commented on #486
@alex-deaconu I am guessing there is either "rise" or "display" somewhere among the default values in the `settings` JSON field, so most companies are included. To avoid this I would suggest specifying explicit fields in the search string like RVA used to do (and how the Store does I believe):

[code]

[2015-03-20 17:41] olegrise commented on #486
`name: 'rise display'` worked for me.

[2015-03-20 17:43] alex-deaconu commented on #486
@alexey-rise @olegrise nice. Will try that. Thanks for the suggestion!

[2015-03-20 21:10] alex-deaconu commented on #486
@alanclayton @mfisher11 what fields do you guys think should be added to the search? So far I have:
"name", "id", "street", "unit", "city", "province", "country","postalCode", "telephone", "fax".

Thanks.

[2015-03-21 02:15] alanclayton commented on #486
@alex-deaconu I don't think we need anything else. Thanks

[2015-03-25 19:10] robb-price opened #492 "When you scroll through the Sub Company list, and then search, the results returned are doubled"
<b>How it works now:</b>
In the Rise Vision Test Co, click Select Sub Company and scroll down to the R's. Now do a search for "Robb's Testing". Notice that all Companies matching that criteria are returned twice in the list.

For further clarification: https://dl.dropboxusercontent.com/u/8237394/Screencasts/2015-03-25_1506.swf

[2015-03-25 20:25] robb-price opened #493 "Cannot delete Sub Companies in Common Header"
<b>How it works now:</b>
In a Parent Company, switch to a Sub Company, and go into their Company Settings. Select to Delete the Company. Notice that you get an error message that "An Internal Error has occurred" and the Company is not deleted.

For further clarification: https://dl.dropboxusercontent.com/u/8237394/Screencasts/2015-03-25_1621.swf

This only happens at rva-test.appspot.com with Comm

[2015-03-25 20:29] robb-price commented on #493
As per @alexey-rise moving this issue to Core repo.

[2015-03-25 20:29] #493 closed

[2015-03-27 17:48] robb-price opened #494 "Presentation Editor in Windows does not match how it looks in Mac"
<b>How it works now:</b>
Looking at the Presentation Editor in Windows compared to Mac, it is pretty ugly, and needs some changes:
![2015-03-27_1350](https://cloud.githubusercontent.com/assets/6862256/6873686/75150be0-d488-11e4-98a8-ab8f78ecd1ca.png)

It only looks this way with the new Common Header, not with the old RVA. This is why I put it in the CH repo.

[2015-03-27 17:52] robb-price commented on #494
@alex-deaconu I updated the image above. The text on the left should be the hover over text, like it is on the Mac, not in the actual Placeholder text.

[2015-03-27 18:14] robb-price opened #495 "When you move a Company, the first line of the Address is missing for the Company you're moving and the Company you're moving it under"
<b>How it works now:</b>
Select Add Sub Company, and then Move a Company. Notice that when you enter the Auth Key of the Company you want to move and press Retrieve Company Details, Line 1 of the Address is missing from the results returned:
![2015-03-27_1412](https://cloud.githubusercontent.com/assets/6862256/6874148/8f70a55a-d48b-11e4-8deb-30c01fb73e3e.png)

[2015-03-30 14:21] robb-price commented on #494
As per @alex-deaconu Closing this issue and moving it to RVA.

[2015-03-30 14:21] #494 closed

[2015-04-01 17:49] alex-deaconu commented on #487
@alanclayton @mfisher11 do we expect all links to behave in this manner. This includes `Editor`, `Store`, `Storage`, `Displays`, `Schedules`, `Support`.

However, should `Developer`, `Documentation`, `About Us` behave in a similar manner (load the CH with the sub-company selected)? I don't believe the selected company is relevant in those apps.

As for `Community` it doesn't use the CH so I'll lea

[2015-04-01 18:29] mfisher11 commented on #487
@alex-deaconu @alanclayton  This kind of decision is above my pay grade, but I would think that it should apply to everything that is relevant (the first group) and not necessarily the second.

It would also depend on the amount of work:  if you have to change every item, then just do the ones that matter; but if a single change affects all of them, I'd go ahead and do it for all without carving o

[2015-04-01 18:33] alanclayton commented on #487
@alex-deaconu Excluding `Community` I think we should be consistent and load CH with the sub-company selected for each App.

Is it much more work to do that vs. only doing it for specific Apps?

[2015-04-01 18:35] alex-deaconu commented on #487
@alanclayton @mfisher11 not really more work. I was just thinking of the user may see the sub-company notification when accessing those other apps and wonder what's up.

I'll add it to all for now, and we can easily remove it if needed.

Thanks!

[2015-04-02 20:05] #432 closed

[2015-04-06 17:58] robb-price commented on #486
Verified at http://1-08-005.rvauser2.appspot.com/. Will close when verified in Production.

[2015-04-06 18:29] robb-price commented on #487
Confirmed at http://1-08-005.rvauser2.appspot.com/#/ that this is working for everything except Support: https://dl.dropboxusercontent.com/u/8237394/Screencasts/2015-04-06_1429.swf

[2015-04-06 18:38] robb-price commented on #471
Verified at http://1-08-005.rvauser2.appspot.com/.

[2015-04-06 18:45] robb-price opened #502 "Clicking on the "Already a Rise Vision User" Sign in link in the modal does not log you in correctly."
<b>How it works now:</b>
1. Go to http://1-08-005.rvauser2.appspot.com/#/, click on the Sign Up Free button, click the Sign In link next to "Already a Rise Vision User" text.
2. Notice that it starts to log in, then asks you to select the account to log in as again. When you click the account, there is nothing in the CH except the navigation buttons.

For further clarification: https://dl.dropboxu

[2015-04-06 18:50] alex-deaconu commented on #502
@robb-price this happens with the current RVA version (rva.risevision.com) so it's an existing issue. Will fix, however I'd like to do so independently of this release. @alanclayton FYI.

Thanks.

[2015-04-06 21:14] alex-deaconu commented on #475
@brianloosbrock this issue should probably go to the Store repo. @olegrise FYI. Thanks.

[2015-04-07 13:14] olegrise commented on #475
Yep, it's a Store issue.

[2015-04-07 14:14] robb-price commented on #502
Verified at http://1-08-005.rvauser2.appspot.com/

[2015-04-07 14:16] robb-price commented on #487
Verified that Support is now functioning correctly at http://1-08-005.rvauser2.appspot.com/.

[2015-04-07 15:53] robb-price commented on #502
Verified and Closed.

[2015-04-07 15:53] #502 closed

[2015-04-07 15:57] robb-price commented on #486
Verified and Closed.

[2015-04-07 15:57] #486 closed

[2015-04-07 16:00] robb-price commented on #487
Verified and Closed.

[2015-04-07 16:00] #487 closed

[2015-04-07 16:01] robb-price commented on #471
Verified and Closed.

[2015-04-07 16:01] #471 closed

[2015-04-07 16:01] robb-price commented on #432
Verified and Closed.

[2015-04-08 16:02] brianloosbrock commented on #475
@alex-deaconu Got it. Thanks.

[2015-04-08 16:02] #475 closed

[2015-04-23 15:55] robb-price opened #513 "CH needs to dynamically load the State/Province list from the Core"
<b>How it works now:</b>
CH does not dynamically load the Core state/province list from here: https://rvacore-test.appspot.com/_ah/api/core/v1/countries, instead it is hardcoded.

It needs to be changed to dynamically load that list so we aren't maintaining it in two places if there are changes.

@alex-deaconu per our conversation about this, is there a reason that CH is using a hardcoded list ins

[2015-04-23 17:27] alex-deaconu commented on #513
@robb-price nope, I wasn't aware that the provinces/states list was available in the countries API until today.

Temporarily fixed Nunavut (NU) province code in CH Provinces list until this issue is addressed.

Thanks.

[2015-04-23 17:42] olegrise commented on #513
@robb-price @alex-deaconu I don't think such API exists. At least I can''t find it.

[2015-04-23 17:44] alex-deaconu commented on #513
@olegrise if you take a look at https://rvacore-test.appspot.com/_ah/api/core/v1/countries, the US and Canada entries include a sub-list of `states`. Thanks.

[2015-04-23 17:49] olegrise commented on #513
@alex-deaconu I totally missed that. Thanks for pointing this out.

[2015-04-24 14:37] robb-price opened #517 "When logging into Store using CH 1.2.2, it just sits there on a blank page after you log in. Refreshing the page shows you the store."
<b>How it works now:</b>
Log into https://store-stage-1.risevision.com/ on Firefox, and notice that once you log in, it just sits on a blank page. If you refresh the page, it works as expected. This does not occur at the production version of the store (https://store.risevision.com)

The same thing does not happen in Chrome, or at http://1-08-008.rvauser2.appspot.com/

[2015-05-11 22:14] alex-deaconu opened #531 "`selectedCompanyChanged` event not firing on `resetCompany` call"
The `risevision.company.selectedCompanyChanged` event is not firing on `resetCompany()` call:
https://github.com/Rise-Vision/common-header/blob/master/src/js/svc-companystate.js#L96

Also unit test coverage is erroneous for this event:
https://github.com/Rise-Vision/common-header/blob/master/test/unit/svc-companystate-spec.js#L60
since the `broadcastSpy` is added here, first event trigger will alw

[2015-05-11 22:20] alex-deaconu opened #532 "When using ui-router and changing companies, using the back button doesn't update the selected company"
Setting `$location.path()` parameters does not trigger the `$stateChangeSuccess` event when ui-router is used:
https://github.com/Rise-Vision/common-header/blob/master/src/js/dtv-common-header.js#L124

This results in the company not being switched when the back/forward buttons are used. Can be tested via the Store: switch company, press back, company should return to original company (doesn't), p

[2015-05-12 18:58] brianloosbrock opened #533 "Navigating to the Editor, Displays, or Schedules apps doesn't prompt you to sign in."
**How it works now**
If I go to Editor, Displays, or Schedules I don’t get told to do anything if I’m not signed in.

**How it should work**
It should prompt me to sign in if I'm not and then take me to the app.

![image](https://cloud.githubusercontent.com/assets/6887543/7595791/da7e7486-f8ae-11e4-88de-ac30bc14ddcd.png)

[2015-05-12 18:59] brianloosbrock commented on #533
@alex-deaconu Hey Alex, I think we should resolve this in your next version of CH. Thoughts?

[2015-05-12 19:25] ByronDarlison commented on #533
@brianloosbrock @alex-deaconu @rodrigopavezi I'm thinking we should take care of this as part of this card https://trello.com/c/nadQ0lY0 Alex, Rodrigo, do you concur? Thanks

[2015-05-12 19:31] alex-deaconu commented on #533
@brianloosbrock @ByronDarlison this is more of an RVA change than CH. This is something we scoped out from the initial release of the RVA with CH, but we can definitely add it in after https://trello.com/c/nadQ0lY0 is completed. Thanks.

[2015-05-12 19:36] ByronDarlison commented on #533
@alex-deaconu should we open this as a separate card and you take it after display app? Thanks

[2015-05-12 19:40] alex-deaconu commented on #533
@ByronDarlison sure, added https://trello.com/c/dB0x19j8/295-rva-prompt-user-to-sign-in. To confirm, after the Displays App, and before the Data Tracking work, correct? Thanks.

[2015-05-12 19:47] ByronDarlison commented on #533
@alex-deaconu thanks and yes, I think that sounds good...

[2015-05-14 20:50] btfrise opened #536 "App Launcher does not function on help.risevision.com."
Steps to reproduce:
1. Navigate to help.risevision.com
2. Select the app launcher

Result:
Clicking the app launcher has no effect.

How it should work:
The app launcher should open and load content.

OS:
OS X

Chrome Ver:
Version 42.0.2311.152 (64-bit)

[2015-05-14 21:21] alex-deaconu commented on #536
@btfrise this is not a CH issue. The dependencies used on help.risevision.com (namely angular-bootstrap) are incorrect. A CH update for the app should resolve the issue. Thanks.

[2015-05-19 19:59] btfrise commented on #536
@alex-deaconu should this be functioning now that you have released the new CH?

[2015-05-19 20:01] ByronDarlison commented on #536
@rodrigopavezi can you please take a look at this first thing on Thursday. Thanks

[2015-05-20 18:11] alex-deaconu opened #538 "CH resets selected company after I open User Settings and then click Save"

[2015-05-22 06:09] alex-deaconu opened #542 "Saving user settings makes 4 API calls"
Calling just one API method user.patch should be enough. Instead CH calls: `user.patch`, `user.get`, `user.get`, `company.get`.

[2015-06-01 14:02] alex-deaconu opened #544 "Common Header links should be https"

[2015-06-01 23:24] ghislaineguerin opened #545 "When in a sub-company using Change option on the menu doesn't give a list of sub-companies"
**Problem**
User can't easily navigate between sub-companies and has to return to parent company in order to select another.

**User Stories**
As a user I can click _change_ and see the list of the parent's sub-companies
As a user I can navigate from a sub-company to another without returning to the parent company

[2015-10-09 14:10] RV-Adrian opened #580 "Delete key acts as 'Back' in some browsers"
This seems to be an issue across most apps. Placing this in Common Header for now, just because it's unclear where it stems from.
Video: https://goo.gl/l22hyH

Happens in Chrome and Opera on Mac, but not Safari.
Originally came up in: https://github.com/Rise-Vision/store/pull/1098

@alex-deaconu @rodrigopavezi @ezequielc @olegrise @ghislaineguerin FYI

[2015-10-09 17:59] olegrise commented on #580
@alex-deaconu @rodrigopavezi @ezequielc here is another [video](https://drive.google.com/file/d/0Bzdv7xpveuRlOUFHLUZBUVdINVU/view?usp=sharing) that shows what happens when user hits backspace key after they open the modal to add content in Editor.

[2015-10-09 21:30] ByronDarlison commented on #580
@RV-Adrian @olegrise good catch! Thanks

[2015-11-09 13:44] #580 closed

[2015-11-13 14:25] RV-Adrian opened #599 "Misaligned common header in Store (mobile view)"
Reference: http://goo.gl/qYLHWa

[2016-02-02 10:57] ByronDarlison commented on #599
@RV-Adrian can you confirm if this is still open and if it is can you move this checklist item to it's own card and let's queue the work. Thanks

[2016-02-02 10:58] ByronDarlison commented on #545
@ghislaineguerin I believe this is now fixed. Can you review and confirm.

[2016-02-02 10:59] ByronDarlison commented on #544
@alex-deaconu is this issue still open or is it closed now?

[2016-02-02 10:59] ghislaineguerin commented on #545
@ByronDarlison not fixed, but it wasn't implemented as I had intended (change shows list of sub-companies again) instead it shows a blank list of sub-companies from a sub company.

[2016-02-02 11:00] ByronDarlison commented on #545
@ghislaineguerin can you revise the defect description to describe how it works now and include how it should work and can you clarify if you have ux work to do to make this correction?

[2016-02-02 11:03] ByronDarlison commented on #542
@alex-deaconu is this issue still open? I think we fixed this didn't we?

[2016-02-02 11:04] ByronDarlison commented on #538
@alex-deaconu is this still open? I think this is now fixed. Thanks

[2016-02-02 11:05] ByronDarlison commented on #536
The common header has been removed from help documentation. This is no longer relevant.

[2016-02-02 11:05] #536 closed

[2016-02-02 11:05] ByronDarlison commented on #533
@alex-deaconu I believe this is now closed. Can you confirm?

[2016-02-02 11:07] ByronDarlison commented on #532
@alex-deaconu I just tested this and it looks like this is now closed. Do you concur?

[2016-02-02 11:07] ByronDarlison commented on #531
@alex-deaconu I don't follow this defect. Can you confirm it's status?

[2016-02-02 11:08] ByronDarlison commented on #517
@robb-price @alex-deaconu I believe this issue is closed. Can you guys confirm. Thanks

[2016-02-02 11:09] ByronDarlison commented on #513
@robb-price @alex-deaconu @olegrise I believe this defect is now closed. Can you confirm?

[2016-02-02 11:10] ByronDarlison commented on #495
@robb-price @alex-deaconu is this still an issue?

[2016-02-02 11:11] ByronDarlison commented on #492
@robb-price @alex-deaconu I believe this issue is now closed. Can you confirm?

[2016-02-02 11:11] ByronDarlison commented on #481
@alex-deaconu is this issue now closed?

[2016-02-02 11:12] ByronDarlison commented on #469
@alex-deaconu @robb-price @brianloosbrock I believe this issue is now closed. Do you guys concur?

[2016-02-02 11:13] ByronDarlison commented on #468
@alex-deaconu @brianloosbrock @robb-price I believe this is now fixed. Can you confirm?

[2016-02-02 11:14] ByronDarlison commented on #451
@alex-deaconu can you confirm what the status of this defect is and if it is open can you confirm what problem we need to solve here? Thanks

[2016-02-02 11:15] ByronDarlison commented on #450
@alex-deaconu not sure the status of this. Could you confirm?

[2016-02-02 11:16] ByronDarlison commented on #449
@alex-deaconu @alanclayton @brianloosbrock I believe this issue is now closed. Can you confirm?

[2016-02-02 11:17] ByronDarlison commented on #434
@alex-deaconu @ezequielc @robb-price can you confirm the status of this issue? Is this still open? I think it is but I am not sure...

[2016-02-02 11:18] ByronDarlison commented on #415
@alex-deaconu @ezequielc is there any reason why this should be left open? Thanks!

[2016-02-02 11:19] ByronDarlison commented on #389
@brianloosbrock @robb-price @alex-deaconu @ezequielc can you confirm the status of this issue? Is this still open? Thanks

[2016-02-02 11:20] ByronDarlison commented on #360
@alanclayton @olegrise @alex-deaconu @ezequielc I believe this issue is now closed. Can you confirm?

[2016-02-02 11:22] ByronDarlison commented on #274
@robb-price @brianloosbrock @olegrise is this still an open issue or is it closed now? And if still open does this belong to CH and @ezequielc or @alex-deaconu should address or is this an open store defect?

[2016-02-02 12:59] ghislaineguerin commented on #545
@ByronDarlison I have updated the description

[2016-02-02 13:59] ByronDarlison commented on #545
@ghislaineguerin do you think this is an issue given our target of 5 displays or less?

[2016-02-02 14:11] ghislaineguerin commented on #545
@ByronDarlison not now. I would archive it.

[2016-02-02 14:12] ByronDarlison commented on #545
Okay. Closing.

[2016-02-02 14:12] #545 closed

[2016-02-02 14:56] alanclayton commented on #449
@ByronDarlison Agreed.

[2016-02-02 14:56] alanclayton commented on #360
@ByronDarlison Agreed.

[2016-02-02 15:11] alex-deaconu commented on #544
@ByronDarlison this was already done. Closing. Thanks.

[2016-02-02 15:11] #544 closed

[2016-02-02 15:29] #360 closed

[2016-02-02 15:33] alex-deaconu commented on #542
@ByronDarlison yes, you're right. It was fixed. Closing. Thanks.

[2016-02-02 15:33] #542 closed

[2016-02-02 15:36] alex-deaconu commented on #538
@ByronDarlison you're right. Closing. Thanks.

[2016-02-02 15:36] #538 closed

[2016-02-02 15:39] alex-deaconu commented on #481
@ByronDarlison we no longer use `#` characters in our URLs, so this should be a non-issue. Closing. Thanks.

[2016-02-02 15:39] #481 closed

[2016-02-02 15:44] alex-deaconu commented on #468
@ByronDarlison you're correct. Closing. Thanks.

[2016-02-02 15:44] #468 closed

[2016-02-02 15:50] alex-deaconu commented on #450
@ByronDarlison I believe you're correct. Fixed by https://github.com/Rise-Vision/common-header/pull/458. Closing. Thanks.

[2016-02-02 15:50] #450 closed

[2016-02-02 16:11] alex-deaconu commented on #531
@ByronDarlison this was fixed. Closing. Thanks.

[2016-02-02 16:11] #531 closed

[2016-02-02 16:14] alex-deaconu commented on #532
@ByronDarlison we've had quite a few iterations over this functionality. Agreed, it should be fixed. Closing. Thanks.

[2016-02-02 16:14] #532 closed

[2016-02-02 16:25] ezequielc commented on #434
@ByronDarlison  @alex-deaconu @robb-price I just replicated it, issue is still open. Cheers

[2016-02-02 16:30] ezequielc commented on #415
@ByronDarlison I would close it. @alex-deaconu  Thoughts? Thanks

[2016-02-02 16:34] alex-deaconu commented on #415
@ByronDarlison @ezequielc I'm good with closing. Thanks.

[2016-02-02 16:34] #415 closed

[2016-02-02 18:30] ByronDarlison commented on #434
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;N5wCG7gz&#x2F;1132-https-github-com-rise-vision-common-header-issues-434"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> https:&#x2F;&#x2F;github.com&#x2F;Rise-Vision&#x2F;common-header&#x2F;issues&#x2F;434</a>

[2016-02-02 18:30] ByronDarlison commented on #434
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;N5wCG7gz&#x2F;1132-https-github-com-rise-vision-common-header-issues-434"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> https:&#x2F;&#x2F;github.com&#x2F;Rise-Vision&#x2F;common-header&#x2F;issues&#x2F;434</a>

[2016-02-02 18:31] ByronDarlison commented on #434
@ezequielc okay. Thanks. I have added to our backlog. Thanks

[2016-02-02 18:39] ezequielc commented on #389
@ByronDarlison @robb-price @alex-deaconu @brianloosbrock It looks like this is fixed. If I search for RVA, I get this RVA Testing as the first result:

![screenshot from 2016-02-02 16 37 57](https://cloud.githubusercontent.com/assets/7738553/12760019/5ea89e42-c9cb-11e5-9c88-3cfc57ce8bcd.png)

[2016-02-02 18:41] ByronDarlison commented on #389
@ezequielc thanks! Closing

[2016-02-02 18:41] #389 closed

[2016-02-02 20:38] hcs0 commented on #495
@ByronDarlison @robb-price @alex-deaconu The issue exists as described in the initial post.  However I don't see where one can access 'Line 1 Address' in Settings and Company Settings.

[2016-02-02 20:51] ByronDarlison commented on #495
@hcs0 I think @robb-price means the street and unit are missing. @robb-price is this necessary? Is there any problem that this is causing that needs to be addressed or can this be closed?

[2016-02-02 22:11] alex-deaconu commented on #513
@ByronDarlison nope this was never implemented. This feature still needs to be added to CH. Thanks.

[2016-02-02 22:14] alex-deaconu commented on #517
@ByronDarlison @robb-price I'm not aware of this issue still occurring. It may be have been related to a specific, older CH version. @robb-price can you confirm? Thanks.

[2016-02-02 22:15] alex-deaconu commented on #533
@ByronDarlison no this is not closed. When signed out, going to the RVA doesn't prompt you to sign in. However, as this only occurs with the RVA I think we can close this. Thanks.

[2016-02-02 22:20] alex-deaconu commented on #469
@ByronDarlison @robb-price @brianloosbrock nope. This particular functionality was never implemented. All Apps show in the launcher despite the Users' roles.

However with the new Apps we've revised the way we handle roles. We let the User access the list and the item, however remove the ability to Save/Delete/etc if they don't have that particular role.

So, I would venture to say this issue is n

[2016-02-02 22:22] alex-deaconu commented on #492
@ByronDarlison @robb-price correct. This has been fixed. Closing. Thanks.

[2016-02-02 22:22] #492 closed

[2016-02-02 22:25] alex-deaconu commented on #451
@ByronDarlison not fixed. To iterate, we currently have a mechanism that confirms the User's authentication when they switch tabs. This ensures they haven't logged out elsewhere, or switched accounts. However, it appears that mechanism doesn't always trigger, something that would need to be investigated.

That is as of the creation of the issue, not sure what the situation is now.

Thanks.

[2016-02-02 22:35] alex-deaconu commented on #449
@ByronDarlison @alanclayton System Messages are retrieved asynchronously. Closing. Thanks.

[2016-02-02 22:35] #449 closed

[2016-02-02 23:34] ByronDarlison commented on #449
Thanks

On Tue, Feb 2, 2016 at 5:35 PM, Alex Deaconu <notifications@github.com>
wrote:

[2016-02-02 23:36] ByronDarlison commented on #451
Okay. Opening a card for it. Thanks!

On Tue, Feb 2, 2016 at 5:25 PM, Alex Deaconu <notifications@github.com>
wrote:

[2016-02-02 23:36] ByronDarlison commented on #451
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;hB0EES4G&#x2F;1138-https-github-com-rise-vision-common-header-issues-451"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> https:&#x2F;&#x2F;github.com&#x2F;Rise-Vision&#x2F;common-header&#x2F;issues&#x2F;451</a>

[2016-02-02 23:39] ByronDarlison commented on #469
@alex-deaconu agreed. Let's see if it comes up with anyone and if they have a strong case for why it should be different we will address then. Thanks

[2016-02-02 23:39] #469 closed

[2016-02-02 23:45] ByronDarlison commented on #533
@alex-deaconu agreed. Closing

[2016-02-02 23:45] #533 closed

[2016-02-02 23:46] ByronDarlison commented on #517
@alex-deaconu thanks. Closing. @robb-price if you think different let us know...

[2016-02-02 23:46] #517 closed

[2016-02-02 23:47] ByronDarlison commented on #513
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;p1NsmIpL&#x2F;1141-https-github-com-rise-vision-common-header-issues-513"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> https:&#x2F;&#x2F;github.com&#x2F;Rise-Vision&#x2F;common-header&#x2F;issues&#x2F;513</a>

[2016-02-02 23:48] ByronDarlison commented on #513
Okay. Added a card. Thanks

On Tue, Feb 2, 2016 at 5:11 PM, Alex Deaconu <notifications@github.com>
wrote:

[2016-02-02 23:51] ByronDarlison commented on #599
@RV-Adrian can you get back to us on this defect. We need to decide what to do with it. Thanks

[2016-02-02 23:52] ByronDarlison commented on #495
@robb-price can you let us know re. this defect. We want to get this closed if possible.

[2016-02-03 00:10] robb-price commented on #495
@ByronDarlison No one has brought it up, it was discovered during testing. It can be closed.

[2016-02-03 00:10] #495 closed

[2016-02-03 00:11] robb-price commented on #517
@ByronDarlison @alex-deaconu Fine with me.

[2016-02-03 00:25] RV-Adrian commented on #599
@ByronDarlison Yes it's still open. Looks like the scope will have to be expanded beyond the Store as well, since it's an issue across the board. I'll queue up a card on the Apps board.

[2016-02-03 00:27] RV-Adrian commented on #599
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;yxt33OZB&#x2F;1142-issue-misaligned-common-header-599"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> [Issue] Misaligned common header  #599</a>

[2016-02-03 00:27] ByronDarlison commented on #495
Thanks Robb

On Tue, Feb 2, 2016 at 7:10 PM, robb-price <notifications@github.com> wrote:

[2016-02-03 00:28] ByronDarlison commented on #599
Thanks Adrian

On Tue, Feb 2, 2016 at 7:27 PM, RV-Adrian <notifications@github.com> wrote:

[2016-02-03 13:20] hcs0 commented on #274
@robb-price @ByronDarlison @olegrise I can't recreate the issue. Also because how CH works in RVA/new app is different now compared to when this issue was brought up. The test CH url also does not work.

[2016-02-03 13:56] ByronDarlison commented on #274
Okay @hcs0 Let's close

[2016-02-03 13:56] #274 closed

[2016-02-03 14:07] olegrise commented on #274
Agreed.

[2016-02-03 14:08] ByronDarlison commented on #274
All, thanks!

[2016-02-09 09:54] ByronDarlison commented on #599
@RV-Adrian is this issue still open?

[2016-02-09 12:24] RV-Adrian commented on #599
Card is in Done, closing Issue now

[2016-02-09 12:24] #599 closed

[2016-02-10 14:48] alex-deaconu commented on #451
@ByronDarlison @ezequielc @olegrise I think we can close this issue. It is not a burning matter and so far the mechanism works "well enough". Thoughts? Thanks.

[2016-02-10 14:49] ByronDarlison commented on #451
@alex-deaconu agreed.

[2016-02-10 14:55] ezequielc commented on #451
@alex-deaconu agreed. Thanks

[2016-02-10 15:15] #451 closed

[2016-03-09 16:39] robb-price opened #617 "The intercom chat bubble is showing on all pages, including when logged in with a user that does not have priority support."
<b>How it works now:</b>
1. Go to apps.risevision.com, store.risevision.com, or www.risevision.com, and notice that the Intercom chat bubble shows on all pages and you can ask questions in it.
2. Log into store.risevision.com or apps.risevision.com as a user who does not have priority support. Notice that you can ask questions in the chat bubble without having to purchase or start a trial for prio

[2016-03-09 17:41] alex-deaconu commented on #617
@robb-price took a look at the Intercom Messenger settings (https://app.intercom.io/a/apps/d85f4ah4/settings/messenger) and it seems the Chat Bubble is enabled for our account: http://screencast.com/t/kv9gwmIh. Is this something that was changed recently? I believe the bubble should be hidden (`Visitors on your website` checkbox unchecked) since we manually enable it for Apps that require it.

Tha

[2016-03-09 17:44] robb-price commented on #617
@alex-deaconu Wasn't changed by anyone in CS, and Intercom can't tell if this was changes recently or not by us. I wasn't sure if it was supposed to be checked or not, so I wanted to ask before changing anything.

I will uncheck it to see if this corrects the behaviour.

[2016-03-09 17:49] alex-deaconu commented on #617
@robb-price sounds good. Thanks.

[2016-03-09 18:38] ByronDarlison commented on #617
@robb-price can you confirm if this is closed?

[2016-03-09 18:44] robb-price commented on #617
@ByronDarlison @alex-deaconu @ezequielc Confirmed that this has solved the issue. Verified and closed.

[2016-03-09 18:44] #617 closed

[2016-04-19 17:39] #513 closed

[2016-05-05 18:20] #434 closed

[2016-05-05 19:13] ezequielc commented on #434
@robb-price This issue is fixed. Could you please confirm it is working? Thanks!

[2016-05-06 14:34] robb-price opened #629 "User who you click on has no User Details, and cannot be deleted"
<b>How it works now:</b>
1. Go to this Company: https://apps.risevision.com/?cid=e9e79b4e-5513-4e06-b4be-df984bd9fe3f.
2. Open the user details for the user MDC Partners AP DEPT (ITProceurements@mdc-partners.com)
3. Notice that there are no User Details, and you cannot delete this user.

For further clarification: https://goo.gl/hKMuJa

<b>How it should work:</b>
You should be able to delete any u

[2016-05-09 16:34] ezequielc commented on #629
@olegrise @alexey-rise You may have faced something similar when working on PR https://github.com/Rise-Vision/core/pull/243 so I want your input here.

In current issue, when the user list is requested, it returns one user with uppercase letters in the ID ("ITProcurement@mdc-partners.com").  When we try to get the user, a 404 User Not Found error is returned. The changedBy is set to System, that i

[2016-05-09 16:53] alexey-rise commented on #629
@ezequielc Hmm, I thought I deleted all the mixed case users when we had that issue and then reimported them correctly. Looks like it was imported even earlier and that's how I missed it.

To fix: use a spacial version of the Core I deployed when I was fixing this issue earlier and delete the user and then re-create it: https://apis-explorer.appspot.com/apis-explorer/?base=https%3A%2F%2Ffix-dot-rv

[2016-05-09 17:12] ezequielc commented on #629
Thanks @alexey-rise ! I agree with your comments. I will use the special version to delete and recreate the user.

@robb-price Do you see any problems with that? Can I proceed deleting and recreating the user? Thanks

[2016-05-10 15:16] robb-price commented on #629
@ezequielc Nope, feel free.

Thanks!

[2016-05-10 15:17] ezequielc commented on #629
Thanks @robb-price ! I will work on that. Cheers

[2016-05-10 15:23] ezequielc commented on #629
@robb-price user was deleted and recreated. Please validate. Thanks!

[2016-05-10 17:01] robb-price commented on #629
Validated and closed.

Thanks!

[2016-05-10 17:01] #629 closed

[2017-04-19 13:26] RV-Adrian opened #673 "User Nav is not sticky and scrolls off-screen"
The Problem:
The responsive User menu scrolls off-screen.  Also, it is not too friendly when Dev Tools is open (reducing the height of the window).

![resp](https://cloud.githubusercontent.com/assets/11826611/25182285/1ee3e140-24e2-11e7-9782-431ba2e8f886.gif)

The Solution:
Make the User nav sticky, and try to make all menu items accessible even when the browser window height is reduced past usual

[2017-05-02 19:28] #673 closed

[2018-03-13 17:22] rudibravo opened #783 "Negative days on Plan trial"
After the Plan Trial expires we expect the user to return to the free plan.
Instead the user is shown as having a negative remaining days of trial.

<img width="506" alt="screen shot 2018-03-13 at 1 14 48 pm" src="https://user-images.githubusercontent.com/160045/37355316-2ed25720-26c2-11e8-8989-78ea70879ba4.png">

[2018-03-13 17:22] rudibravo commented on #783
@ezequielc @alex-deaconu @fjvallarino FYI

[2018-03-13 17:33] fjvallarino commented on #783
@rudibravo interesting. The expectation is Core would return a different status when the Trial expires.

[2018-03-29 15:39] #783 closed

[2018-03-29 15:39] fjvallarino commented on #783
This was deployed to master